<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>Estoy buscando datos sobre la liga de: {{pais}}</p>

    {% if ligas %}

    <ul>

        {% for liga in ligas %}
        <li> {{liga.pais}} </li>
        <li> {{liga.participantes}} </li>
        <li> {{liga.fechas}} </li>
        {% endfor %}

    </ul>

    {% endif %}

</body>
</html>